<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visitekaartje</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <header>
  
  <article>
    <div>
    <h1>Marwa Hello</h1>
    </div>
    <img src="/Marwa-sunny.JPG" alt="Creative Coder">
    <p>Welcome!</p>
    
   <div>
      <button type="button" class="btn-work">WORK</button>
      <button type="button" class="btn-hobby">HOBBY</button>
      <button type="button" class="btn-life">LIFE</button>
    </div>

  </article>
 
  </header>
    <!-- <img src="/Marwa-sunny.JPG" alt="Creative Coder">
   -->
  <body>
    <article>

    </article>
    <!-- <article class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <img src="IMG/Marwab.jpg" alt="Foto van me zelf" />
          <h1>Marwa Hello</h1>
        </div> -->
        <!-- <div class="flip-card-back">
          <h1>Marwa Hello</h1>
          <div class="streepje"></div>
          <p>Over mij</p>
          <p>Skills</p>
          <p>Hobby's</p>
          <p>Future</p>
        </div> -->
      <!-- </div> -->
  
    </article>
  
  <!-- <p>Het WEB is te gek! <br> Met HTML, CSS en JavaScript kan ik vette, interactieve web apps maken.</p> -->
  </article>
  
  <script src="./scripts/script.js"></script>
  <body>