<%- include('./partials/head') %>

<!-- VISITEKAARTJE -->

<main>
 
     <div class="border">
         
      <img class="marwapic" src="/Marwa-sunny.JPG" alt="foto of me">
     </div>


    <section class="name-section">
      <h1 class="Marwa">
        <%=member.name%>
          <%=member.surname%>
      </h1>
      <p>Eerstejaars student van FDND - HvA</p>
      <a href="https://github.com/Marwaxhello"><button>Github</button></a>
      <a href="https://www.linkedin.com/in/marwa-hello-1098a7198/"><button>LinkedIn</button></a>
      <a href="https://instagram.com/iiitsmarwa?igshid=YmMyMTA2M2Y="><button>Instagram</button></a>
      <a href="http://www.studiomadedesign.nl/"><button>Portfolio</button></a>
    </section>

</main>

<%- include('./partials/foot') %>
