<%- include('./partials/head') %>

<!-- HEADER VISITEKAARTJE -->


<section class="HEADER_CARD">
  <img src="/Marwa-sunny.JPG" alt="Creative Coder">
  <h1>
    <%=member.name%>
  </h1>
  
  <h1>
    <%=member.surname%>
  </h1>

</section>

<!-- <article>
  <h1>Marwa Hello</h1>

</article> -->

<%- include('./partials/foot') %>
